{% extends "base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td>name</td>
        <td>mobile</td>
        <td>email</td>
         <td>address</td>


    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td>{{user.name}}</td>
         <td>{{user.mobile}}</td>
         <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>
            <a href="{% url 'employee_update' employee.id %}"> Edit</a>

        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}